{
    "presets": [
        "react-app/prod"
    ],
    "env": {
        "development": {
            "presets": [
                [
                    "react-app/prod"
                ]
            ]
        }
    }
}