@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Indie- Flower', cursive;
}

/* Main Styles */

.main-container {
    display: inline-block;
    width: 83%;
    height: auto;
    /* border:1px solid blue; */
    margin-bottom: 5%;
}

.main-container h1 {
    text-align: center;
    color: #234465;
    text-decoration: underline;
    margin-bottom: 2%;
}

/* Main Styles */

/* ------------------------------------------------------------------------------- */